.about-app {
    padding-top: 70px;
    text-align: center;
}

.about-app__heading {
    color: map-get($colors, 'black');
    font-size: 44px;
    line-height: 36px;
    font-weight: 600;
    border-top: 3px solid map-get($colors, 'light-grey');
    padding-top: 70px;
}

.about-app__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 78px;
    margin-bottom: 205px;
    &:nth-of-type(2) {
        flex-direction: row-reverse;
    }
}

.about-app__content {
    text-align: left;
    width: 560px;
}

.about-app__content-caption {
    font-weight: 700;
    color: map-get($colors, 'orenge');
    margin-bottom: 17px;
}

.about-app__content-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    margin-top: 0;
    margin-bottom: 27px;
}

.about-app__content-text {
    margin-top: 0;
}