body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: map-get($weight, 'normal');
    color: map-get($colors, 'silver');
    line-height: 38px;
}