 .btn-block {
     display: flex;
     justify-content: center;
     align-items: center;
     &>* {
         display: block;
         margin-right: 20px;
         &:last-child {
             margin-right: 0;
         }
     }
     &--column {
         &>* {
             @include for-tablet-large {
                 margin-bottom: 20px;
                 margin-right: 0;
                 &:last-child {
                     margin-bottom: 0;
                 }
             }
         }
         @include for-tablet-large {
             flex-direction: column;
         }
     }
     &--download {
         display: flex;
         @include for-tablet-large {
             display: none;
         }
     }
     &--mobil {
         display: none;
         @include for-tablet-large {
             display: block;
         }
     }
 }