.btn-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-block__btn {
    display: block;
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
}