.btn {
    text-decoration: none;
    color: #ffffff;
    padding: 16px 58px;
    background-color: #FA4A0C;
    border: 1px solid #FA4A0C;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    border-radius: 35px;
    &.btn--small {
        padding: 18px 31px;
        border-radius: 10px;
        font-size: 16px;
        line-height: 28px;
    }
}

.btn--second {
    background-color: transparent;
    border-color: #ffffff;
}