.btn {
    text-decoration: none;
    color: map-get($colors, 'white');
    padding: 16px 58px;
    background-color: map-get($colors, 'orange');
    border: 1px solid map-get($colors, 'orange');
    font-size: 24px;
    font-weight: map-get($weight, 'bold');
    line-height: 36px;
    border-radius: 35px;
    &.btn--small {
        padding: 18px 31px;
        border-radius: 10px;
        font-size: 16px;
        line-height: 28px;
    }
    &:hover {
        transform: scale(1.05);
    }
    &:active {
        color: map-get($colors, 'orange');
        background-color: map-get($colors, 'white');
        border: 1px solid map-get($colors, 'white');
    }
}

.btn--second {
    background-color: transparent;
    border-color: map-get($colors, 'orange');
    color: map-get($colors, 'orange');
}