.download {
    background-color: map-get($colors, 'grey');
    background-image: url(../img/shelves.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 145px;
    padding-bottom: 130px;
    text-align: center;
    color: map-get($colors, 'white');
    @include for-tablet-large {
        background-image: none;
    }
}

.download__title {
    font-size: 40px;
    line-height: 57px;
    @include for-tablet-large {
        margin: 120px 54px 20px 54px;
    }
}

.download__content {
    padding-top: 20px;
    padding-bottom: 60px;
}