.download {
    background-color: grey;
    background-image: url(../img/shelves.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 145px;
    padding-bottom: 130px;
    text-align: center;
    color: #ffffff;
}

.download__title {
    font-size: 40px;
    line-height: 57px;
}

.download__content {
    padding-top: 20px;
    padding-bottom: 60px;
}