.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 37px;
    margin-bottom: 55px;
    @include for-tablet-large {
        flex-direction: column;
    }
}

.footer__logo {
    display: block;
    @include for-tablet-large {
        display: none;
    }
}

.footer__copyrite {
    font-size: 12px;
    line-height: 18px;
    color: map-get($colors, 'silver-grey');
}

.footer__social {
    font-size: 0;
}

.footer__social-btn {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 24px;
    vertical-align: middle;
    color: map-get($colors, 'orange');
    &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url("../img/spritesheet.png");
        background-repeat: no-repeat;
    }
    &:hover {
        transform: scale(1.2);
    }
    &:active {
        opacity: 0.5;
    }
    &:last-child {
        margin-right: 0;
    }
    &--tw::before {
        width: 35px;
        height: 28px;
        background-position: -5px -54px;
    }
    &--fb::before {
        width: 33px;
        height: 33px;
        background-position: -5px -5px;
    }
    &--in::before {
        width: 39px;
        height: 39px;
        background-position: -48px -5px;
    }
}