.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__mobile-menu {
    display: none;
    width: 50px;
    height: 50px;
    background-color: red;
    @include for-tablet-large {
        display: block;
    }
}

.header__menu {
    display: flex;
    list-style: none;
    padding: 0;
    @include for-tablet-large {
        display: none;
    }
}

.header__menu-item {
    margin-right: 115px;
    &:last-child {
        margin-right: 0;
    }
}

.header__menu-link {
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.75;
    color: map-get($colors, 'grey');
    &:hover {
        transform: scale(1.2);
    }
    &:active {
        color: map-get($colors, 'orange');
    }
    &--active {
        color: map-get($colors, 'orange');
    }
}