    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .header__mobile-menu {
        display: none;
        width: 20px;
        margin-right: 20px;
        @include for-tablet-large {
            display: block;
            margin-right: 5px;
        }
        &line {
            margin-bottom: 3px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
    .header__menu {
        display: flex;
        list-style: none;
        padding: 0;
        @include for-tablet-large {
            display: none;
        }
    }
    
    .header__menu-item {
        margin-right: 115px;
        &:last-child {
            margin-right: 0;
        }
    }
    
    .header__menu-link {
        display: block;
        text-decoration: none;
        font-size: 16px;
        font-weight: map-get($weight, 'bold');
        line-height: 28px;
        color: map-get($colors, 'grey');
        &:hover {
            transform: scale(1.2);
        }
        &:active {
            color: map-get($colors, 'orange');
        }
        &--active {
            color: map-get($colors, 'orange');
        }
    }