.main-screen {
    position: relative;
    padding-bottom: 100px;
}

.main-screen__content {
    background-image: url(../img/food.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: map-get($colors, 'grey');
    padding-top: 75px;
    padding-bottom: 160px;
    text-align: center;
    color: map-get($colors, 'white');
    @include for-tablet-large {
        display: block;
        background-image: none;
        background-color: map-get($colors, 'white');
        color: map-get($colors, 'silver');
        padding-top: 50px;
    }
}

.main-screen__title {
    font-weight: map-get($weight, 'bold');
    margin-bottom: 17px;
    @include for-tablet-large {
        font-size: 16px;
    }
}

.main-screen__heading {
    font-size: 58px;
    line-height: 80px;
    margin-top: 0;
    margin-bottom: 27px;
    @include for-tablet-large {
        font-size: 36px;
        line-height: 42px;
        color: map-get($colors, 'grey');
    }
}

.main-screen__image {
    display: block;
    margin: -150px auto 0;
    max-width: 800px;
    @include for-tablet-large {
        margin: 0 20px;
        max-width: 750px;
    }
    @include for-tablet {
        margin: 0 20px;
        max-width: 650px;
    }
    @include for-mobile {
        margin: 0 20px;
        max-width: 550px;
    }
}

.main-screen__img {
    display: block;
    width: 100%;
}

.main-screen__btn {
    margin-top: 50px;
}