.main-screen {
    position: relative;
    padding-bottom: 640px;
}

.main-screen__content {
    background-color: grey;
    padding-top: 75px;
    padding-bottom: 145px;
}

.main-screen__image {
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translate(-50%);
}