@import "./varible.scss";
@import "./base.scss";
@import "./btn-block.scss";
@import "./btn.scss";
@import "./container.scss";
@import "./header.scss";
@import "./main-screen.scss";
@import "./about-app.scss";
@import "./download.scss";
@import "./footer.scss";