$colors: ( "white": #FFFFFF, "orange": #FA4A0C, "grey": #252B42, "light-grey": #E4E4E4, "silver": #737373, "silver-grey": #5C5C5C, "black": #000000, );
$breakpoints-tablet-large: 1024px;
$breakpoints-tablet: 768px;
$breakpoints-mobile: 640px;